
::selection {
    color: #fff;
    background: var(--primary);
}
.form-container {
    max-width: 800px;
    margin: 0 auto;
    background: #e9e9e9;
    text-align: center;
    border-radius: 5px;
    padding: 50px 35px 10px 35px;
}
.form-container header {
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 30px 0;
}
.form-container .form-outer {
    width: 100%;
    overflow: hidden;
}
.form-container .form-outer form {
    display: flex;
    width: calc(100% * var(--stepNumber));
}
.form-outer form .page {
    width: calc(100% / var(--stepNumber));
    transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title {
    text-align: left;
    font-size: 25px;
    font-weight: 500;
}
.form-outer form .page .field {
    width: var(--form-containerWidth);
    height: 45px;
    margin: 45px 0;
    display: flex;
    position: relative;
}
form .page .field .label {
    position: absolute;
    top: -30px;
    font-weight: 500;
}
form .page .field input {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    padding-left: 15px;
    margin: 0 1px;
    font-size: 18px;
    transition: border-color 150ms ease;
}
form .page .field input.invalid-input {
    border-color: red;
}
input.invalid-input{
    border: red solid!important;
}
select.invalid-input{
    border: red solid!important;
}
form .page .field select {
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    font-weight: 500;
}
/* form .page .field button {
    width: 100%;
    height: calc(100% + 5px);
    border: none;
    background: var(--secondary);
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
} */
/* form .page .field button:hover {
    background: #000;
} */
form .page .btns {
    margin-top: -20px !important;
}
form .page .btns button.prev {
    margin-right: 3px;
    font-size: 17px;
}
form .page .btns button.next {
    margin-left: 3px;
}
.form-container .progress-bar-form {
    display: flex;
    margin: 40px 0;
    user-select: none;
    flex-direction: row;
}
.form-container .progress-bar-form .step {
    text-align: center;
    width: 100%;
    position: relative;
}
.form-container .progress-bar-form .step p {
    font-weight: 500;
    font-size: 18px;
    color: #03424c;
    margin-bottom: 8px;
}
.progress-bar-form .step .bullet {
    height: 45px;
    width: 45px;
    border: 2px solid #000;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    transition: 0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
}
.progress-bar-form .step .bullet.active {
    border-color: black;
    background: white;
}
.progress-bar-form .step .bullet span {
    color: black;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 30%);
}
.progress-bar-form .step .bullet.active span {
    display: none;
}
.progress-bar-form .step .bullet:before,
.progress-bar-form .step .bullet:after {
    position: absolute;
    content: "";
    bottom: 19px;
    right: -160px;
    border: 1px solid black;
    height: 3px;
    width: 117px;
    background-color: #000;
}
.progress-bar-form .step .bullet.active:after {
    background: black;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.3s linear forwards;
}
@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}
.progress-bar-form .step:last-child .bullet:before,
.progress-bar-form .step:last-child .bullet:after {
    display: none;
}
.progress-bar-form .step p.active {
    transition: 0.2s linear;
}
.progress-bar-form .step .check {
    position: absolute;
    left: 50%;
    top: 69%;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}
.progress-bar-form .step .check.active {
    display: block;
    color: #ed8844;
}

@media screen and (max-width: 660px) {
    :root {
        --form-containerWidth: 400px;
    }
    .progress-bar-form .step p {
        display: none;
    }
    .progress-bar-form .step .bullet::after,
    .progress-bar-form .step .bullet::before {
        display: none;
    }
    .progress-bar-form .step .bullet {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .progress-bar-form .step .check {
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 15px;
        transform: translate(-50%, -50%);
        display: none;
    }
    .step {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 490px) {
    :root {
        --form-containerWidth: 100%;
    }
    .form-container {
        box-sizing: border-box;
        border-radius: 0;
    }
}

.check-icon{
    font-size: 48px;
}

.btn-block{
    margin-top: 0!important;
}

.form-dropdown{
    border: #ced4da solid 1px!important;
    height: 48px!important;
    color: grey!important;
}

body{
  font-family: 'Lato', sans-serif;
}

#show-if-open-pool, #accomodation_choice{
    display: none;
}

@media screen and (max-width: 768px){
    .progress-bar-form .step .bullet span {
        color: black;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    } 
    .form-container{
        padding: 30px 10px 10px 10px;
    }
    .upload-label{
        margin: 0 auto;
    }
}