<html>
    <div style="
                font-family: system-ui;
                background: #FDFBE1;
                padding: 25px;
                margin: 50px;
                text-align: center;
                line-height: 1.5;
                "
                >
        <img width="50" src="https://summit-media.s3.amazonaws.com/media/sport_images/cricket.png" alt="">
        <h2>Registration failed!</h2>
        <p>Unfortunately, your registration for the event has failed.</p>
        <p>Please get in touch with our support team via our contact us page.</p>
        <p>Don't worry though, your team details are saved with us. You can visit this link
            and try your payment again-
        </p>
        <a target="_blank" href="https://google.com" style="background: #0A9B81; color: white;padding: 10px 25px;
        border-radius: 5px;
        text-decoration: none;">Modify Team</a>
        <p>Please <b>DO NOT SHARE</b> this link to anyone outside your team.</p>
    </div>
</html>