<html>
    <div style="display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: system-ui;
                background: #FDFBE1;
                padding: 25px;
                margin: 50px;
                text-align: center;
                line-height: 1.5;
                "
                >
        <img width="50" src="https://summit-media.s3.amazonaws.com/media/sport_images/cricket.png" alt="">
        <h2>All Done!!</h2>
        <p>You have successfully registered to the National Level Sports SUMMIT'23. <br> Welcome to the battlefield!</p>
        <p>You can modify your team using this button-
        </p>
        <a target="_blank" href="https://google.com" style="background: #0A9B81; color: white;padding: 10px 25px;
        border-radius: 5px;
        text-decoration: none;">Modify Team</a>
        <p>Please <b>DO NOT SHARE</b> this link to anyone outside your team.</p>
    </div>
</html>