{% extends 'base.html' %}
{% block body_block %}
{% load static %}


{% include 'head_common.html' %}

{% block title %}<title>Events - MIT-WPU SUMMIT 2023</title> {% endblock %}

<!-- <section class="ftco-section services-section bg-light">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><span class="flaticon-placeholder"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Venue</h3>
                <p>	203 Fake St. Mountain View, San Francisco, California, USA</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><span class="flaticon-world"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Transport</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><span class="flaticon-hotel"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Hotel</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><span class="flaticon-cooking"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Restaurant</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section> -->

<br>
<br>
<br>
<br>
<br>
<section>
	<div class="container">
		<div class="bg-image" style="background-image: url('/static/images/image_3.jpg');">
			<div class="bg-image-content">
				<h2>15 Lakh Prize Money!</h2>
				<p>Get a chance to win amazing prizes worth upto 15 Lakh Rupees!!</p>
			</div>
		</div>
	</div>
</section>



<section class="ftco-section bg-light">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section ftco-animate text-center">
				<!-- <span class="subheading">Pricing Tables</span> -->
				<h2 class="mb-1"><span>Sport</span>Details</h2>
			</div>
		</div>
		<div class="row">
			{% for sport in allSport %}
				<div class="col-md-4 ftco-animate">
					<div class="block-7">
						<div class="text-center">
							<img src="{{ sport.logo.url }}" width="132" height="130">
							<h3 class="heading-2 my-4">{{sport.name}}</h3>

							<ul class="pricing-text mb-5">
								{% for rule in sport.rules %}
									<li>{{rule}}</li>
								{% endfor %}					
							</ul>

							<a href="{% url 'sport_detail' sport.slug %}" class="btn btn-primary d-block px-2 py-3">Register</a>
						</div>
					</div>
				</div>
			{% endfor %}

		</div>

	</div>
</section>

<section class="ftco-section bg-light">
	<div class="container">
		<!-- <div class="row d-flex"> -->
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-12 heading-section ftco-animate">

				<h2 class="mb-4"><span>Guidelines</span></h2>
				<ul style="list-style:disc">
					<li>
					All teams should report 30 minutes before the scheduled time at the respective venues for the fixtures. The team will be forced to forfeit their matches if they reach the respective venue 15 minutes after their scheduled match.
					</li>
					<li>
						Misconduct on and off the field at any point during the event will result in disqualification from the tournament.
					</li>
					<li>
						Matches will be delayed if necessary due to unforeseen circumstances.
					</li>
					<li>
						For the Inauguration Ceremony, sports uniforms & Flags of respective colleges/universities are necessary and it is compulsory for all the participants to participate in the March Past.

					</li>
					<li>
						Every participant must present the previous year's mark sheet when demanded by the respective event head and on the registration desk.
					</li>
					<li>
						The teams will be required to submit a Unique ID (ERP) of their respective college/university for each player in print or digital format prior to the onset of the event.

					</li>
					<li>
						Any participant with a backlog in any final-year paper will not be allowed to participate.
					</li>
					<li>
						A minimum of Six teams from Six different colleges/universities are required for the conduction of an event.
					</li>
					<li>
						All matches will be played according to the Federation rules of respected games.

					</li>
					<li>
						In case of a protest, submit Rs. 3000/- as a protest fee and a protest application before or within half hour after the match ends.

					</li>
					<li>
						Age limit is 27 for engineering colleges and private universities.

					</li>
					<li>
						Registration for an event from your engineering college/ private university must be done at one time. For an event, only one team from each engineering college/private university can register. Multiple entries from one engineering college/private university will not be accepted.

					</li>
					<li>
						Once the team list is submitted at the time of registration, no changes will be allowed.


					</li>
					<li>
						The decision of the referees/umpires will be final and in any case of dispute, the captain should contact the event in charge or the organizers.
					</li>
					<li>
						Any changes in the schedule or timing of the match will be at the discretion of the organizers.

					</li>
					<li>
						We will provide First Aid Kits and Ambulance. Our university and event will not be responsible for any injuries or mishaps during the event.

					</li>
					<li>
						The organizing committee reserves the right to make any changes.

					</li>
					<li>
						Entries from any individual player or a team will not be considered, the teams/ players should be enrolled in the same college/ university.

					</li>

				</ul>

			</div>
		</div>
	</div>
	</div>
</section>

<section class="ftco-section bg-light">
	<div class="container">
		<!-- <div class="row d-flex"> -->
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-12 heading-section ftco-animate">

				<h2 class="mb-4"><span>Accomadation Details</span></h2>
				<h4> At the time of registration:</h4>	
				<ul style="list-style:disc">
					<li>
						Accommodation charges are to be paid on your arrival at MIT-WPU Campus.
					</li>
					<li>
						Also, you need to pay a fee of Rs. 5,000/- in cash as a deposit, which will be returned after the event.
					</li>
					<li>
						This deposit has to be paid at the time of registration itself. Accommodation will not be entertained later on.
					</li>
					<li>
						Extra accommodation and boarding facilities will be charged as applicable.
					</li>
				</ul>

				<h4>On your arrival in Pune:</h4>	
				<ul style="list-style:disc">
					<li>
						Report to the Registration Help Desk (Saraswati Building, MIT-WPU Campus) where you will be informed about your accommodation details.
					</li>
					<li>
						MIT-WPU will provide you with mattresses and quilts.
					</li>
					<li>
						If you have not registered beforehand then MIT-WPU will not be responsible for your accommodation.
					</li>
					<li>
						Registration for accommodation on the website only shows your interest and does not confirm your accommodation from our side.
					</li>
					<li>
						Per head expenditure for Accommodation, Food (breakfast, lunch, and dinner) & Transport will be Rs. 1000/- per person per day. On the day of inauguration i.e., 20th February 2023, only Dinner will be provided.
					</li>
					<li>
						The teams coming on 20th February 2023 (first day) should report at 10 am at MIT-WPU Campus for the march past at the Inaugural ceremony.
					</li>
					<li>
						Apart from this, you can make arrangements of your own at your convenience.
					</li>
					<li>
						Teams are requested to vacate the rooms allotted to them within 24 hours after their last match.
					</li>
					<li>
						Teams are requested to bring their own locks for the safety of their belongings.
					</li>
					<li>
						MIT-WPU will not be responsible for any loss.
					</li>
				</ul>

			</div>
		</div>
	</div>
	</div>
</section>

<section class="ftco-section-parallax">
	<div class="parallax-img d-flex align-items-center">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
					<h2>Subcribe to our Newsletter</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
						live the blind texts. Separated they live in</p>
					<div class="row d-flex justify-content-center mt-4 mb-4">
						<div class="col-md-8">
							<form action="#" class="subscribe-form">
								<div class="form-group d-flex">
									<input type="text" class="form-control" placeholder="Enter email address">
									<input type="submit" value="Subscribe" class="submit px-3">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}