  <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('{{introData.image}}');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
        <div class="col-md-9 ftco-animate pb-5">
            <h1 class="mb-3 bread">{{introData.title}}</h1>
            <h6>{{introData.desc}}</h6>
          <!-- <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Speakers <i class="ion-ios-arrow-forward"></i></span></p> -->
        </div>
      </div>
    </div>
  </section>

{% if introData.question != null   %}

<br>
<br>
<br>
  



<section class="ftco-counter img" id="section-counter">
  <div class="container">
    <div class="col-md-12 mb-4 heading-section">
      <h2 class="mb-4"><span></span>Information</h2>
    </div>
    <br>
    <br>
    <div class="row d-flex">
      <div class="col-md-6 d-flex">
        <div class="img d-flex align-self-stretch" style="background-image:url(/static/images/about.jpg);"></div>
      </div>
      <div class="col-md-6 pl-md-5 py-5">
        <div class="row justify-content-start pb-3">
          <div class="col-md-12 heading-section ftco-animate">
            <!-- <span class="subheading">Fun Facts</span> -->
            <h2 class="mb-4"><span>{{introData.question}}</span></h2>
            <p>{{introData.information}}</p>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>


{% endif %}