{% extends 'base.html' %}
{% block body_block %}
{% load static %}

{% block title %}<title>MIT-WPU SUMMIT 2023</title> {% endblock %}
<div id="carouselExampleControls" data-interval="false" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<div class="hero-wrap fixed-height" style="background-image: url('/static/images/Banner_Homepage.svg');"
				data-stellar-background-ratio="0.5">
				<div class="overlay"></div>
				<div class="container">
					<div class="row no-gutters slider-text fixed-height align-items-center justify-content-start"
						data-scrollax-parent="true">
						<div class="col-xl-10 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
							<!-- <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"> Developer <br><span>Conference 2019</span></h1> -->
							<h2 style="margin-left: 2.5rem;">MIT WPU SUMMIT</h2>
							<div id="timer" class="d-flex mb-3">
								<div class="time" id="days"></div>
								<div class="time" id="hours"></div>
								<div class="time" id="minutes"></div>
								<div class="time" id="seconds"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="carousel-item fixed-height">
			<iframe class="fixed-height" style="width: 100%;" width="420" height="550"
				src="https://www.youtube.com/embed/9yTQuiLgOqM?autoplay=1&mute=1">
			</iframe>
		</div>
		<div class="carousel-item fixed-height">
			<div class="fixed-height"
				style="display: flex;
		align-items: center;background-image: url('/static/images/home_carousel.jpg')">
				<div style="display: flex;justify-content: center;
				flex-direction: column;align-items: center;" class="container">
					{% if messages %}
						{% for message in messages %}
						<div style="max-width: fit-content;" class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
							{{ message }}
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							
						</div>
						{% endfor %}
					{% endif %}
					<h2 style="color:white">MIT WPU Summit 2023</h2>
					<a href="{% url 'about' %}" class="btn btn-primary d-block px-2 py-3 btn-short">Know More</a>
				</div>
			</div>

		</div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<section class="ftco-counter mt-5">
	<div class="container">
		<div class="row">
			<div class="col-lg col-md-3 col-sm-6 col-xs-6 justify-content-center counter-wrap ftco-animate">
				<div class="block-18 stats-block text-center py-4 bg-light mb-4">
					<div class="text">
						<div class="icon d-flex justify-content-center align-items-center">
							<i class="fa-solid fa-2x stat-icon fa-volleyball"></i>
						</div>
						<strong class="number" data-number="11">0</strong>
						<span>Sports</span>
					</div>
				</div>
			</div>
			<div class="col-lg col-md-3 col-sm-6 col-xs-6 justify-content-center counter-wrap ftco-animate">
				<div class="block-18 stats-block text-center py-4 bg-light mb-4">
					<div class="text">
						<div class="icon d-flex justify-content-center align-items-center">
							<i class="fa-solid fa-2x stat-icon fa-user-group"></i>
						</div>
						<strong class="number" data-number="5000">0</strong>
						<strong class="number">+</strong>
						<span>Players</span>
					</div>
				</div>
			</div>
			<div class="col-lg col-md-3 col-sm-6 col-xs-6 justify-content-center counter-wrap ftco-animate">
				<div class="block-18 stats-block text-center py-4 bg-light mb-4">
					<div class="text">
						<div class="icon d-flex justify-content-center align-items-center">
							<i class="fa-solid fa-2x stat-icon fa-calendar"></i>
						</div>
						<strong class="number" data-number="300">4</strong>
						<span>Days</span>
					</div>
				</div>
			</div>
			<div class="col-lg col-md-3 col-sm-6 col-xs-6 justify-content-center counter-wrap ftco-animate">
				<div class="block-18 stats-block text-center py-4 bg-light mb-4">
					<div class="text">
						<div class="icon d-flex justify-content-center align-items-center">
							<i class="fa-solid fa-2x stat-icon fa-building-columns"></i>
						</div>
						<strong class="number" data-number="300">0</strong>
						<strong class="number">+</strong>
						<span>Colleges</span>
					</div>
				</div>
			</div>
			<div class="col-lg col-md-3 col-sm-6 col-xs-6 justify-content-center counter-wrap ftco-animate">
				<div class="block-18 stats-block text-center py-4 bg-light mb-4">
					<div class="text">
						<div class="icon d-flex justify-content-center align-items-center">
							<i class="fa-solid fa-2x stat-icon fa-money-check-dollar"></i>
						</div>
						<strong class="number">₹</strong>
						<strong class="number" data-number="1500000">0</strong>
						
						<span>Prizes Worth</span>
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
<!-- <section class="ftco-section services-section bg-light">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><span class="flaticon-placeholder"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Venue</h3>
                <p>	203 Fake St. Mountain View, San Francisco, California, USA</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><span class="flaticon-world"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Transport</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><span class="flaticon-hotel"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Hotel</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><span class="flaticon-cooking"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Restaurant</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section> -->

<section class="ftco-counter img mt-5">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-6 d-flex" style="padding-top: 3rem;">
				<div class="img d-flex align-self-stretch"
				style="background-image:url(/static/images/man.svg); width: 450px;height: 400px;">
			</div>
			</div>
			<div class="col-md-6 pl-md-5 py-5">
				<div class="row container justify-content-start pb-3">
					<div class="col-md-12 heading-section ftco-animate">
						<!-- <span class="subheading">About us</span> -->
						<h2 class="mb-4">What is Summit ? 
						</h2>
						<p>Summit is the national-level annual sports meet organized by Maharashtra Institute of Technology World Peace University. With a legacy of 15 years, summit has grown to be a well-known sports meet with colleges participating from all around the nation. In 2023, Summit is opening its doors to both private universities and engineering colleges.
						</p>
						<a href="{% url 'about' %}" class="btn btn-primary d-block px-2 py-3 btn-short">More about us</a>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="hide-in-mobile">
	<img style="width: 100%;" src="{% static 'images/w.png' %}" alt="">
</section>

<!-- <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	<span class="subheading">Speaker</span>
            <h2 class="mb-4"><span>Our</span> Speakers</h2>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-12 ftco-animate">
        		<div class="carousel-testimony owl-carousel">
        			<div class="item">
        				<div class="speaker">
			        		<img src="{% static 'images/speaker-1.jpg' %}" class="img-fluid" alt="Colorlib HTML5 Template">
			        		<div class="text text-center py-3">
			        			<h3>John Adams</h3>
			        			<span class="position">Web Developer</span>
			        			<ul class="ftco-social mt-3">
			                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
			                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
			                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
			              </ul>
			        		</div>
			        	</div>
        			</div>
        		</div>
        	</div>
        </div>
    	</div>
    </section> -->


<!-- <section class="ftco-section bg-light">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	<span class="subheading">Schedule</span>
            <h2 class="mb-4"><span>Event</span> Schedule</h2>
          </div>
        </div>
        <div class="ftco-search">
					<div class="row">
            <div class="col-md-12 nav-link-wrap">
	            <div class="nav nav-pills d-flex text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
	              <a class="nav-link ftco-animate active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Day 01 <span>21 Dec. 2019</span></a>

	              <a class="nav-link ftco-animate" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2" role="tab" aria-controls="v-pills-2" aria-selected="false">Day 02 <span>22 Dec. 2019</span></a>

	              <a class="nav-link ftco-animate" id="v-pills-3-tab" data-toggle="pill" href="#v-pills-3" role="tab" aria-controls="v-pills-3" aria-selected="false">Day 03 <span>23 Dec. 2019</span></a>

	              <a class="nav-link ftco-animate" id="v-pills-4-tab" data-toggle="pill" href="#v-pills-4" role="tab" aria-controls="v-pills-4" aria-selected="false">Day 04 <span>24 Dec. 2019</span></a>

	            </div>
	          </div>
	          <div class="col-md-12 tab-wrap">
	            
	            <div class="tab-content" id="v-pills-tabContent">

	              <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="day-1-tab">
	              	<div class="speaker-wrap ftco-animate d-flex">
	              		<div class="img speaker-img" style="background-image: url(/static/images/person_1.jpg);"></div>
	              		<div class="text pl-md-5">
	              			<span class="time">08: - 10:00</span>
	              			<h2><a href="#">Introduction to Wordpress 5.0</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
	              		</div>
	              	</div>
	              	<div class="speaker-wrap ftco-animate d-flex">
	              		<div class="img speaker-img" style="background-image: url(/static/images/person_2.jpg);"></div>
	              		<div class="text pl-md-5">
	              			<span class="time">08: - 10:00</span>
	              			<h2><a href="#">Best Practices For Programming WordPress</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
	              		</div>
	              	</div>
	              	<div class="speaker-wrap ftco-animate d-flex">
	              		<div class="img speaker-img" style="background-image: url(/static/images/person_3.jpg);"></div>
	              		<div class="text pl-md-5">
	              			<span class="time">08: - 10:00</span>
	              			<h2><a href="#">Web Performance For Third Party Scripts</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
	              		</div>
	              	</div>
	              </div>

	              <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-day-2-tab">
	              	<div class="speaker-wrap ftco-animate d-flex">
	              		<div class="img speaker-img" style="background-image: url(/static/images/person_1.jpg);"></div>
	              		<div class="text pl-md-5">
	              			<span class="time">08: - 10:00</span>
	              			<h2><a href="#">Introduction to Wordpress 5.0</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
	              		</div>
	              	</div>
	              	<div class="speaker-wrap ftco-animate d-flex">
	              		<div class="img speaker-img" style="background-image: url(/static/images/person_2.jpg);"></div>
	              		<div class="text pl-md-5">
	              			<span class="time">08: - 10:00</span>
	              			<h2><a href="#">Best Practices For Programming WordPress</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
	              		</div>
	              	</div>
	              	<div class="speaker-wrap ftco-animate d-flex">
	              		<div class="img speaker-img" style="background-image: url(/static/images/person_3.jpg);"></div>
	              		<div class="text pl-md-5">
	              			<span class="time">08: - 10:00</span>
	              			<h2><a href="#">Web Performance For Third Party Scripts</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
	              		</div>
	              	</div>
	              </div>
	              <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-day-3-tab">
	              	<div class="speaker-wrap ftco-animate d-flex">
	              		<div class="img speaker-img" style="background-image: url(/static/images/person_1.jpg);"></div>
	              		<div class="text pl-md-5">
	              			<span class="time">08: - 10:00</span>
	              			<h2><a href="#">Introduction to Wordpress 5.0</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
	              		</div>
	              	</div>
	              	<div class="speaker-wrap ftco-animate d-flex">
	              		<div class="img speaker-img" style="background-image: url(/static/images/person_2.jpg);"></div>
	              		<div class="text pl-md-5">
	              			<span class="time">08: - 10:00</span>
	              			<h2><a href="#">Best Practices For Programming WordPress</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
	              		</div>
	              	</div>
	              	<div class="speaker-wrap ftco-animate d-flex">
	              		<div class="img speaker-img" style="background-image: url(/static/images/person_3.jpg);"></div>
	              		<div class="text pl-md-5">
	              			<span class="time">08: - 10:00</span>
	              			<h2><a href="#">Web Performance For Third Party Scripts</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
	              		</div>
	              	</div>
	              </div>
	              <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-day-4-tab">
	              	<div class="speaker-wrap ftco-animate d-flex">
	              		<div class="img speaker-img" style="background-image: url(/static/images/person_1.jpg);"></div>
	              		<div class="text pl-md-5">
	              			<span class="time">08: - 10:00</span>
	              			<h2><a href="#">Introduction to Wordpress 5.0</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
	              		</div>
	              	</div>
	              	<div class="speaker-wrap ftco-animate d-flex">
	              		<div class="img speaker-img" style="background-image: url(/static/images/person_2.jpg);"></div>
	              		<div class="text pl-md-5">
	              			<span class="time">08: - 10:00</span>
	              			<h2><a href="#">Best Practices For Programming WordPress</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
	              		</div>
	              	</div>
	              	<div class="speaker-wrap ftco-animate d-flex">
	              		<div class="img speaker-img" style="background-image: url(/static/images/person_3.jpg);"></div>
	              		<div class="text pl-md-5">
	              			<span class="time">08: - 10:00</span>
	              			<h2><a href="#">Web Performance For Third Party Scripts</a></h2>
	              			<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	              			<h3 class="speaker-name">&mdash; <a href="#">Brett Morgan</a> <span class="position">Founder of Wordpress</span></h3>
	              		</div>
	              	</div>
	              </div>
	            </div>
	          </div>
	        </div>
        </div>
			</div>
		</section>
		 -->
<section class="ftco-counter img mt-5" style="min-height: 800px;">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 text-center heading-section ftco-animate">
				<span class="subheading">From our</span>
				<h2 class="mb-4">Leaders</h2>
			</div>
		</div>
		<div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item">
					<div class="row d-flex">
						<div class="col-md-6 justify-center d-flex">
							<div class="img d-flex align-self-stretch"
								style="background-color: #ED8842;background-image:url(/static/images/team/ShriGirishMahajan.png);">
							</div>
						</div>
						<div class="col-md-6 pl-md-5 py-5">
							<div class="row justify-content-start carousel-right-content pb-3">
								<div class="col-md-12 heading-section justify-center ftco-animate">
									<span class="subheading">Minister For Sports & Youth Welfare, Government of Maharashtra</span>
									<h2> Shri. Girish Mahajan</h2>
									<p class="font-grey">
										<span class="quote align-items-center justify-content-center">
											<i class="icon-quote-left"></i>
										</span> <br>
										It gives me immense pleasure to know that the 16th National Level Sports Meet, 
										"Summit '23," is taking place. It is encouraging to
										learn that MIT-WPU Summit will include private universities from throughout the
										country in addition to engineering colleges. <br>

										I appreciate the vision and significant steps taken by Revered Prof. Dr. Vishwanath
										Karad, Shri. Rahul V. Karad and MIT-WPU to ensure the students' overall progress
										and participation in sports.
										I believe Summit '23 will prove to be a truly unique event and a fantastic 
										learning environment for students across the nation.
										<br>
										<span class="quote align-items-center justify-content-center">
											<i class="icon-quote-right"></i>
										</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row d-flex">
						<div class="col-md-6 justify-center d-flex">
							<div class="img d-flex align-self-stretch"
								style="background-image:url('/static/images/rahulsir.png');"></div>
						</div>
						<div class="col-md-6 pl-md-5 py-5">
							<div class="row justify-content-start carousel-right-content pb-3">
								<div class="col-md-12 heading-section ftco-animate">
									<span class="subheading">Executive President</span>
									<h2>Dr. Rahul Karad</h2>
									<p class="font-grey">
										<span class="quote align-items-center justify-content-center">
											<i class="icon-quote-left"></i>
										</span> <br>
										India’s biggest Annual Inter-Engineering Sports event hosted
										by MIT-World Peace University committed towards the
										goal of ‘Nation Building through Sports’.
										<br> <br>

										MIT World Peace University (MIT-WPU) has been
										organizing the National Level Inter-Engineering
										Sports “SUMMIT” since 2004. Every year Summit
										attracts over 5,000 students with participation
										of more than 150 Engineering and Technological
										Institutions across the country. <br>
										<span class="quote align-items-center justify-content-center">
											<i class="icon-quote-right"></i>
										</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item active">
					<div class="row d-flex">
						<div class="col-md-6 justify-center d-flex">
							<div class="img d-flex align-self-stretch"
								style="height: 440px; background-color: #ED8842;background-image:url('/static/images/team/Revered Prof. Dr. Vishwanath D. Karad.png');"></div>
						</div>
						<div class="col-md-6 pl-md-5 py-5">
							<div class="row justify-content-start carousel-right-content pb-3">
								<div class="col-md-12 heading-section ftco-animate">
									<span class="subheading">Founder & Chief Patron,
										MAEER's MIT Group of Institutions
										President,
										MIT World Peace University, Pune, Bharat</span>
									<h2 style="line-height: 1.2;" >Revered Prof. Dr. Vishwanath D.Karad</h2>
									<p class="font-grey">
										<span class="quote align-items-center justify-content-center">
											<i class="icon-quote-left"></i>
										</span> <br>
										My dear friends, you all are perhaps aware that the MAEER's MIT
										Group of Institutions, Pune was established in 1983, reposing full
										faith on Swami Vivekananda's prophetic words that, "Union of
										Science & Spirituality alone will bring Peace & Harmony to
										Mankind." But friends, Swamiji had also once said that, "It is better
										to run behind football on the ground than just sit in a temple &
										read Gita."
										<br><br>
										 I hope & feel conﬁdent that the contestants will give oﬀ
										their best to excel in every sport that they have participated in. Wish you all the best!
										<br>
										<span class="quote align-items-center justify-content-center">
											<i class="icon-quote-right"></i>
										</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</section>
<section class="ftco-section testimony-section mb-4">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 text-center heading-section ftco-animate">
				<span class="subheading">Our Esteemed</span>
				<h2 class="mb-4">Guests</h2>
			</div>
		</div>
		<div class="row ftco-animate">
			<div class="col">
				<div class="carousel-testimony owl-carousel ftco-owl">
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">	
							<div class="user-img mb-4" style="background-image: url(/static/images/guests/poonam_raut.png)">
							</div>
							<div class="text guests-wrap">
								<p class="name">Poonam Raut</p>
								<!-- <span class="position">Marketing Manager</span> -->
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4" style="background-image: url(/static/images/guests/baichung_bhutia.png)">
							</div>
							<div class="text guests-wrap">
								<p class="name">Baichung Bhutia</p>
								<!-- <span class="position">Marketing Manager</span> -->
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4" style="background-image: url(/static/images/guests/vvs_laxman.png)">
							</div>
							<div class="text">
								<p class="name">V.V.S Laxman</p>
								<!-- <span class="position">Marketing Manager</span> -->
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4" style="background-image: url(/static/images/guests/vijendra_singh.png)">
							</div>
							<div class="text guests-wrap">
								<p class="name">Vijender Singh</p>
								<!-- <span class="position">Marketing Manager</span> -->
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4" style="background-image: url(/static/images/guests/yogeshwar_dutt.png)">
							</div>
							<div class="text guests-wrap">
								<p class="name">Yogeshwar Dutt</p>
								<!-- <span class="position">Marketing Manager</span> -->
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4" style="background-image: url(/static/images/guests/irfan_pathan.png)">
							</div>
							<div class="text guests-wrap">
								<p class="name">Irfan Pathan</p>
								<!-- <span class="position">Marketing Manager</span> -->
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4" style="background-image: url(/static/images/guests/mary_kom.png)">
							</div>
							<div class="text guests-wrap">
								<p class="name">M.C Mary Kom</p>
								<!-- <span class="position">Marketing Manager</span> -->
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4" style="background-image: url(/static/images/guests/dilip_vengsarkar.png)">
							</div>
							<div class="text guests-wrap">
								<p class="name">Dilip Vengsarkar</p>
								<!-- <span class="position">Marketing Manager</span> -->
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4" style="background-image: url(/static/images/guests/kiran_more.png)">
							</div>
							<div class="text guests-wrap">
								<p class="name">Kiran More</p>
								<!-- <span class="position">Marketing Manager</span> -->
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4" style="background-image: url(/static/images/guests/sreejesh.png)">
							</div>
							<div class="text guests-wrap">
								<p class="name">Sreejesh P.R</p>
								<!-- <span class="position">Marketing Manager</span> -->
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4" style="background-image: url(/static/images/guests/cheteshwar_pujara.png)">
							</div>
							<div class="text guests-wrap">
								<p class="name">Cheteshwar Pujara</p>
								<!-- <span class="position">Marketing Manager</span> -->
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4" style="background-image: url(/static/images/guests/mithali_raj.png)">
							</div>
							<div class="text guests-wrap">
								<p class="name">Mithali Raj</p>
								<!-- <span class="position">Marketing Manager</span> -->
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4" style="background-image: url(/static/images/guests/abhijit_kunte.png)">
							</div>
							<div class="text guests-wrap">
								<p class="name">Abhijit Kunte</p>
								<!-- <span class="position">Marketing Manager</span> -->
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4" style="background-image: url(/static/images/guests/rehan.png)">
							</div>
							<div class="text guests-wrap">
								<p class="name">Rehan Poncha</p>
								<!-- <span class="position">Marketing Manager</span> -->
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4" style="background-image: url(/static/images/guests/kedar_jadhav.png)">
							</div>
							<div class="text guests-wrap">
								<p class="name">Kedar Jadhav</p>
								<!-- <span class="position">Marketing Manager</span> -->
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4" style="background-image: url(/static/images/guests/ronjan.png)">
							</div>
							<div class="text guests-wrap">
								<p class="name">Ronjan Sodhi</p>
								<!-- <span class="position">Marketing Manager</span> -->
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4" style="background-image: url(/static/images/guests/chandu_borde.png)">
							</div>
							<div class="text guests-wrap">
								<p class="name">Chandu Borde</p>
								<!-- <span class="position">Marketing Manager</span> -->
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4" style="background-image: url(/static/images/guests/sandeep_singh.png)">
							</div>
							<div class="text guests-wrap">
								<p class="name">Sandeep Singh</p>
								<!-- <span class="position">Marketing Manager</span> -->
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4" style="background-image: url(/static/images/guests/nitin.png)">
							</div>
							<div class="text guests-wrap">
								<p class="name">Nitin Madane</p>
								<!-- <span class="position">Marketing Manager</span> -->
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5">
							<div class="user-img mb-4" style="background-image: url(/static/images/guests/shital.png)">
							</div>
							<div class="text guests-wrap">
								<p class="name">Shital Mahajan</p>
								<!-- <span class="position">Marketing Manager</span> -->
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<section class="mb-5">
	<div class="container">
		<h2>Frequently Asked Questions</h2>
		<div class="accordion">
		  <div class="accordion-item">
			<button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Which colleges and universities can participate?
			</span><span class="icon" aria-hidden="true"></span></button>
			<div class="accordion-content">
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
			</div>
		  </div>
		  <div class="accordion-item">
			<button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">Can I play more than one sport?
			</span><span class="icon" aria-hidden="true"></span></button>
			<div class="accordion-content">
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
			</div>
		  </div>
		  <div class="accordion-item">
			<button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">Is it necessary to participate as a university team or a college team?
			</span><span class="icon" aria-hidden="true"></span></button>
			<div class="accordion-content">
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
			</div>
		  </div>
		  <div class="accordion-item">
			<button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">How do I register my team?
			</span><span class="icon" aria-hidden="true"></span></button>
			<div class="accordion-content">
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
			</div>
		  </div>
		  <div class="accordion-item">
			<button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">Will we be provided with any accommodation?</span><span class="icon" aria-hidden="true"></span></button>
			<div class="accordion-content">
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
			</div>
		  </div>
		</div>
	  </div>
</section>

<section class="ftco-section testimony-section mb-4">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 text-center heading-section ftco-animate">
				<span class="subheading"></span>
				<h2 class="mb-4">Our Partners</h2>
			</div>
		</div>
		<div class="row ftco-animate">
			<div class="col">
				<div class="carousel-testimony owl-carousel ftco-owl">
					<div class="item" >
						<div class="testimony-wrap text-center py-4 pb-5" style="height:250px;display:flex;align-items:center">
							<img class="sponser-img mb-4"  src="{% static 'images/sponsors/Bank-of-India-BOI-logo.jpg' %}"/>
							
						</div>
						
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5" style="height:250px;display:flex;align-items:center">
							<img class="sponser-img mb-4" src="{% static 'images/sponsors/BankOfBarodaLogo.png' %}"/>
							
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5" style="height:250px;display:flex;align-items:center">
							<img class="sponser-img mb-4" src="{% static 'images/sponsors/campus times.png' %}"/>
							
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5" style="height:250px;display:flex;align-items:center">
							<img class="sponser-img mb-4" src="{% static 'images/sponsors/cosmos.jpg' %}"/>
							
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5" style="height:250px;display:flex;align-items:center">
							<img class="sponser-img mb-4" src="{% static 'images/sponsors/deccan_honda.png' %}"/>
							
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5" style="height:250px;display:flex;align-items:center">
							<img class="sponser-img mb-4" src="{% static 'images/sponsors/dtdc.png' %}"/>
							
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5" style="height:250px;display:flex;align-items:center">
							<img class="sponser-img mb-4" src="{% static 'images/sponsors/Federal Bank Logo.jpg' %}"/>
							
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5" style="height:250px;display:flex;align-items:center">
							<img class="sponser-img mb-4" src="{% static 'images/sponsors/gokhale constructions.jpg' %}"/>
							
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5" style="height:250px;display:flex;align-items:center">
							<img class="sponser-img mb-4" src="{% static 'images/sponsors/golds.png' %}"/>
							
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5" style="height:250px;display:flex;align-items:center">
							<img class="sponser-img mb-4" src="{% static 'images/sponsors/nivia.jpg' %}"/>
							
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5" style="height:250px;display:flex;align-items:center">
							<img class="sponser-img mb-4" src="{% static 'images/sponsors/Radio_Mirchi_95.jpg' %}"/>
							
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5" style="height:250px;display:flex;align-items:center">
							<img class="sponser-img mb-4" src="{% static 'images/sponsors/raymond.png' %}"/>
							
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5" style="height:250px;display:flex;align-items:center">
							<img class="sponser-img mb-4" src="{% static 'images/sponsors/reliance.jpeg' %}"/>
							
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5" style="height:250px;display:flex;align-items:center">
							<img class="sponser-img mb-4" src="{% static 'images/sponsors/union bank.png' %}"/>
							
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5" style="height:250px;display:flex;align-items:center">
							<img class="sponser-img mb-4" src="{% static 'images/sponsors/vivo.png' %}"/>
							
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5" style="height:250px;display:flex;align-items:center">
							<img class="sponser-img mb-4" src="{% static 'images/sponsors/Westin-logo.png' %}"/>
							
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5" style="height:250px;display:flex;align-items:center">
							<img class="sponser-img mb-4" src="{% static 'images/sponsors/wilo.png' %}"/>
							
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5" style="height:250px;display:flex;align-items:center">
							<img class="sponser-img mb-4" src="{% static 'images/sponsors/GoldWyn.jpeg' %}"/>
							
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5" style="height:250px;display:flex;align-items:center">
							<img class="sponser-img mb-4" src="{% static 'images/sponsors/Solaris.webp' %}"/>
							
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5" style="height:250px;display:flex;align-items:center">
							<img class="sponser-img mb-4" src="{% static 'images/sponsors/ShaktiSports.png' %}"/>
							
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5" style="height:250px;display:flex;align-items:center">
							<img class="sponser-img mb-4" src="{% static 'images/sponsors/B&R.jpeg' %}"/>
							
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center py-4 pb-5" style="height:250px;display:flex;align-items:center">
							<img class="sponser-img mb-4" src="{% static 'images/uninor-logo.jpg' %}"/>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- <section class="ftco-section bg-light">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<span class="subheading">Our Blog</span>
				<h2><span>Recent</span> Blog</h2>
			</div>
		</div>
		<div class="row d-flex">
			<div class="col-md-4 d-flex ftco-animate">
				<div class="blog-entry justify-content-end">
					<a href="blog-single.html" class="block-20"
						style="background-image: url('/static/images/image_1.jpg');">
					</a>
					<div class="text p-4 float-right d-block">
						<div class="d-flex align-items-center pt-2 mb-4">
							<div class="one">
								<span class="day">07</span>
							</div>
							<div class="two">
								<span class="yr">2019</span>
								<span class="mos">January</span>
							</div>
						</div>
						<h3 class="heading mt-2"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
						<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 d-flex ftco-animate">
				<div class="blog-entry justify-content-end">
					<a href="blog-single.html" class="block-20"
						style="background-image: url('/static/images/image_2.jpg');">
					</a>
					<div class="text p-4 float-right d-block">
						<div class="d-flex align-items-center pt-2 mb-4">
							<div class="one">
								<span class="day">07</span>
							</div>
							<div class="two">
								<span class="yr">2019</span>
								<span class="mos">January</span>
							</div>
						</div>
						<h3 class="heading mt-2"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
						<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 d-flex ftco-animate">
				<div class="blog-entry">
					<a href="blog-single.html" class="block-20"
						style="background-image: url('/static/images/image_3.jpg');">
					</a>
					<div class="text p-4 float-right d-block">
						<div class="d-flex align-items-center pt-2 mb-4">
							<div class="one">
								<span class="day">06</span>
							</div>
							<div class="two">
								<span class="yr">2019</span>
								<span class="mos">January</span>
							</div>
						</div>
						<h3 class="heading mt-2"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
						<p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->
<section>
	<div class="container">
		<div class="bg-image" style="background-image: url('static/images/image_3.jpg');">
			<div class="bg-image-content">
				<h2>15 Lakh Prize Money!</h2>
				<p>Get a chance to win amazing prizes worth upto 15 Lakh Rupees!!</p>
			</div>
		</div>
	</div>
</section>
<!-- <section class="ftco-section-parallax">
	<div class="parallax-img d-flex align-items-center">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
					<h2>Want to know more about us !</h2>
					<p>To get the latest update about our events, prizes and lots of more information, 
						subscribe to our newsletter now!</p>
					<div style="max-width: 100%" class="row d-flex justify-content-center mt-4 mb-4">
						<div class="col-md-8">
							<form action="#" class="subscribe-form">
								<div class="form-group d-flex justify-center">
									<input type="text" class="form-control" placeholder="Enter email address">
									<input type="submit" value="Contact us" class="submit px-3" style="font-size: 20px;">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> -->

<section  class="ftco-section contact-section">
	<div class="container">
	  <div class="row d-flex mb-5 contact-info">
  
  
		<div class="w-100"></div>
		<!-- <div class="col-md-3">
	<p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
	</div>
	<div class="col-md-3">
	<p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
	</div>
	<div class="col-md-3">
	<p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
	</div> -->
	  </div>
	  <div class="row block-9">
  
  
		<div class="col-md-8 d-flex" >
		<div >
			<div class="row-md-12">
				<div class="row-md-12 mb-4 heading-section">
				  <h2>Want to know more</h2>
				  <h2>about us</h2>
				</div>
				<p>Check out @mitwpusummit on instagram</p>
				<form action="#" class="subscribe-form">
					<div class="form-group d-flex">
						<input type="submit" value="Contact us" class="submit px-3" style="font-size: 17px; margin-left: 0px;">
					</div>
				</form>
				
				
			  </div>
		</div>
		  
  
		</div>
		
		<div class="col-md-4 order-md-last d-flex">
			<div class="block-23 mb-3 mt-3">
				<ul>
					<li><span class="icon icon-phone " style="color: #000;"></span><span class="text" style="color: #000;">
						<a style="color: #000;" href="tel:+917028484241">+917028484241</a> / <a style="color: #000;" href="+91992227722">+91992227722</a> 
					</span></li>
					<li><a href="mailto:summit@mitwpu.edu.in"><span class="icon icon-envelope" style="color: #000;"></span><span class="text" style="color: #000;">summit@mitwpu.edu.in</span></a></li>
				 <li ><span class="icon icon-map-marker" style="color: #000;"></span>
					<span class="text" style="color: #000;">Pune, Maharashtra</span></li>
				  
				</ul>
			  </div>
  
		</div>
	  </div>
	</div>
  </section>
  

<!-- <section class="ftco-gallery">
	<div class="container-wrap">
		<div class="row no-gutters">
			<div class="col-md-3 ftco-animate">
				<a href="images/image_1.jpg' %}" class="gallery image-popup img d-flex align-items-center"
					style="background-image: url(/static/images/image_1.jpg);">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-instagram"></span>
					</div>
				</a>
			</div>
			<div class="col-md-3 ftco-animate">
				<a href="images/image_2.jpg' %}" class="gallery image-popup img d-flex align-items-center"
					style="background-image: url(/static/images/image_2.jpg);">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-instagram"></span>
					</div>
				</a>
			</div>
			<div class="col-md-3 ftco-animate">
				<a href="images/image_3.jpg' %}" class="gallery image-popup img d-flex align-items-center"
					style="background-image: url(/static/images/image_3.jpg);">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-instagram"></span>
					</div>
				</a>
			</div>
			<div class="col-md-3 ftco-animate">
				<a href="images/image_4.jpg' %}" class="gallery image-popup img d-flex align-items-center"
					style="background-image: url(/static/images/image_4.jpg);">
					<div class="icon mb-4 d-flex align-items-center justify-content-center">
						<span class="icon-instagram"></span>
					</div>
				</a>
			</div>
		</div>
	</div>
</section> -->

<script type="text/javascript">
	console.log("hello");
	const items = document.querySelectorAll(".accordion button");

	function toggleAccordion() {
	const itemToggle = this.getAttribute('aria-expanded');
	
	for (i = 0; i < items.length; i++) {
		items[i].setAttribute('aria-expanded', 'false');
	}
	
	if (itemToggle == 'false') {
		this.setAttribute('aria-expanded', 'true');
	}
	}

	items.forEach(item => item.addEventListener('click', toggleAccordion));
</script>
{% endblock %}
