{% extends 'base.html' %}
{% block body_block %}
{% load static %}
{% block title %}<title>Guests - MIT-WPU SUMMIT 2023</title> {% endblock %}

<!-- END nav -->

<!-- <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/static/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
       <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
          <div class="col-md-9 ftco-animate pb-5">
            <h1 class="mb-3 bread">Speakers</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Speakers <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section services-section bg-light">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><span class="flaticon-placeholder"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Venue</h3>
                <p>	203 Fake St. Mountain View, San Francisco, California, USA</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><span class="flaticon-world"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Transport</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><span class="flaticon-hotel"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Hotel</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon"><span class="flaticon-cooking"></span></div>
              <div class="media-body">
                <h3 class="heading mb-3">Restaurant</h3>
                <p>A small river named Duden flows by their place and supplies.</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>
    
    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 text-center heading-section ftco-animate">
          	<span class="subheading">Speaker</span>
            <h2 class="mb-4"><span>Our</span> Speakers</h2>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-4 speaker">
        		<img src="{% static 'images/speaker-1.jpg' %}" class="img-fluid" alt="Colorlib HTML5 Template">
        		<div class="text text-center pt-3">
        			<h3>John Adams</h3>
        			<span class="position">Web Developer</span>
        			<ul class="ftco-social mt-3">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
        		</div>
        	</div>
					<div class="col-md-4 speaker">
        		<img src="{% static 'images/speaker-2.jpg' %}" class="img-fluid" alt="Colorlib HTML5 Template">
        		<div class="text text-center pt-3">
        			<h3>John Adams</h3>
        			<span class="position">Web Developer</span>
        			<ul class="ftco-social mt-3">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
        		</div>
        	</div>
        	<div class="col-md-4 speaker">
        		<img src="{% static 'images/speaker-3.jpg' %}" class="img-fluid" alt="Colorlib HTML5 Template">
        		<div class="text text-center pt-3">
        			<h3>John Adams</h3>
        			<span class="position">Web Developer</span>
        			<ul class="ftco-social mt-3">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
        		</div>
        	</div>
        	<div class="col-md-4 speaker">
        		<img src="{% static 'images/speaker-4.jpg' %}" class="img-fluid" alt="Colorlib HTML5 Template">
        		<div class="text text-center pt-3">
        			<h3>John Adams</h3>
        			<span class="position">Web Developer</span>
        			<ul class="ftco-social mt-3">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
        		</div>
        	</div>
					<div class="col-md-4 speaker">
        		<img src="{% static 'images/speaker-5.jpg' %}" class="img-fluid" alt="Colorlib HTML5 Template">
        		<div class="text text-center pt-3">
        			<h3>John Adams</h3>
        			<span class="position">Web Developer</span>
        			<ul class="ftco-social mt-3">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
        		</div>
        	</div>
        	<div class="col-md-4 speaker">
        		<img src="{% static 'images/speaker-6.jpg' %}" class="img-fluid" alt="Colorlib HTML5 Template">
        		<div class="text text-center pt-3">
        			<h3>John Adams</h3>
        			<span class="position">Web Developer</span>
        			<ul class="ftco-social mt-3">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
        		</div>
        	</div>
        </div>
    	</div>
    </section> -->


{% include 'head_common.html' %}

<section class="ftco-section">


    <!-- <div class="tabs">

    <input type="radio" id="tab1" name="tab-control" checked>
    <input type="radio" id="tab2" name="tab-control">
    <input type="radio" id="tab3" name="tab-control">
    <ul>
      <li title="Cricket"><label for="tab1" role="button">
          <img src="{% static './images/game_icons/cricket.png' %}" alt="Cricket" width="60px" height="60px">

          <span>Cricket</span></label>
      </li>

      <li title="Badminton"><label for="tab2" role="button">
          <img src="{% static './images/game_icons/cricket.png' %}" alt="Cricket" width="60px" height="60px">
          <span>Badminton</span></label>
      </li>
      <li title="Basketball">
        <label for="tab3" role="button">
          <img src="{% static './images/game_icons/cricket.png' %}" alt="Cricket" width="60px" height="60px">
          <span>Basketbal</span>
        </label>
      </li>
    </ul>

    <div class="slider">
      <div class="indicator"></div>
    </div>
    <div class="content">
      <section>
        <h2>Cricket</h2>
        MIT-WPU Summit ‘21 Man of the Tournament<br />
        MIT-WPU Summit ‘21 Best Batsman<br />
        MIT-WPU Summit ‘21 Best Bowler<br />
        MIT-WPU Summit ‘21 Man of the Match (Final)
      </section>
      <section>
        <h2>Badminton</h2>
        2 ipsum dolor sit amet, consectetur adipisicing elit. Autem quas adipisci a accusantium eius ut
        voluptatibus
        ad impedit nulla, ipsa qui. Quasi temporibus eos commodi aliquid impedit amet, similique nulla.
      </section>
      <section>
        <h2>Basketball</h2>
        3 ipsum dolor sit amet, consectetur adipisicing elit. Quam nemo ducimus eius, magnam error quisquam sunt
        voluptate labore, excepturi numquam! Alias libero optio sed harum debitis! Veniam, quia in eum.
      </section>
    </div>
  </div>
  <br />
  <br />



  <div class="tabs1">

    <input type="radio" id="tab4" name="tab-control1" checked>
    <input type="radio" id="tab5" name="tab-control1">
    <input type="radio" id="tab6" name="tab-control1">
    <ul>
      <li title="Volleyball">
        <label for="tab4" role="button">
          <img src="{% static './images/game_icons/cricket.png' %}" alt="Cricket" width="60px" height="60px">
          <span>Volleyball</span>
        </label>
      </li>

      <li title="Baseball">
        <label for="tab5" role="button">
          <img src="{% static './images/game_icons/cricket.png' %}" alt="Cricket" width="60px" height="60px">
          <span>Baseball</span>
        </label>
      </li>
      <li title="Football">
        <label for="tab6" role="button">
          <img src="{% static './images/game_icons/cricket.png' %}" alt="Cricket" width="60px" height="60px">
          <span>Football</span>
        </label>
      </li>
    </ul>

    <div class="slider">
      <div class="indicator"></div>
    </div>
    <div class="content">
      <section>
        <h2>Volleyball</h2>4 ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorem sequi, quo tempore in
        eum
        obcaecati atque quibusdam officiis est dolorum minima deleniti ratione molestias numquam. Voluptas voluptates
        quibusdam cum?
      </section>
      <section>
        <h2>Baseball</h2>
        5 ipsum dolor sit amet, consectetur adipisicing elit. Autem quas adipisci a accusantium eius ut
        voluptatibus
        ad impedit nulla, ipsa qui. Quasi temporibus eos commodi aliquid impedit amet, similique nulla.
      </section>
      <section>
        <h2>Football</h2>
        6 ipsum dolor sit amet, consectetur adipisicing elit. Quam nemo ducimus eius, magnam error quisquam sunt
        voluptate labore, excepturi numquam! Alias libero optio sed harum debitis! Veniam, quia in eum.
      </section>
    </div>
  </div>
  <br />
  <br />

  <div class="tabs2">

    <input type="radio" id="tab7" name="tab-control2" checked>
    <input type="radio" id="tab8" name="tab-control2">
    <input type="radio" id="tab9" name="tab-control2">
    <ul>
      <li title="Table Tennis">
        <label for="tab7" role="button">
          <img src="{% static './images/game_icons/cricket.png' %}" alt="Cricket" width="60px" height="60px">
          <span>Table Tennis</span>
        </label>
      </li>

      <li title="Chess">
        <label for="tab8" role="button">
          <img src="{% static './images/game_icons/cricket.png' %}" alt="Cricket" width="60px" height="60px">
          <span>Chess</span>
        </label>
      </li>

      <li title="Lawn Tennis">
        <label for="tab9" role="button">
          <img src="{% static './images/game_icons/cricket.png' %}" alt="Cricket" width="60px" height="60px">
          <span>Lawn Tennis</span>
        </label>
      </li>
    </ul>

    <div class="slider">
      <div class="indicator"></div>
    </div>
    <div class="content">
      <section>
        <h2>Table Tennis</h2>4 ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorem sequi, quo tempore in
        eum
        obcaecati atque quibusdam officiis est dolorum minima deleniti ratione molestias numquam. Voluptas voluptates
        quibusdam cum?
      </section>
      <section>
        <h2>Chess</h2>
        5 ipsum dolor sit amet, consectetur adipisicing elit. Autem quas adipisci a accusantium eius ut
        voluptatibus
        ad impedit nulla, ipsa qui. Quasi temporibus eos commodi aliquid impedit amet, similique nulla.
      </section>
      <section>
        <h2>Lawn Tennis</h2>
        6 ipsum dolor sit amet, consectetur adipisicing elit. Quam nemo ducimus eius, magnam error quisquam sunt
        voluptate labore, excepturi numquam! Alias libero optio sed harum debitis! Veniam, quia in eum.
      </section>
    </div>
  </div>
  <br />
  <br />

  <div class="tabs4">

    <input type="radio" id="tab13" name="tab-control4" checked>
    <input type="radio" id="tab14" name="tab-control4">
    <input type="radio" id="tab15" name="tab-control4">
    <ul>
      <li title="Squash">
        <label for="tab13" role="button">
          <img src="{% static './images/game_icons/cricket.png' %}" alt="Cricket" width="60px" height="60px">
          <span>Squash</span></label>
      </li>

      <li title="Kabbadi"><label for="tab14" role="button">
          <img src="{% static './images/game_icons/cricket.png' %}" alt="Cricket" width="60px" height="60px">
          <span>Kabbadi</span>
        </label>
      </li>
      <li title="Carrom">
        <label for="tab15" role="button">
          <img src="{% static './images/game_icons/cricket.png' %}" alt="Cricket" width="60px" height="60px">
          <span>Carrom</span></label>
      </li>
    </ul>

    <div class="slider">
      <div class="indicator"></div>
    </div>
    <div class="content">
      <section>
        <h2>Squash</h2>4 ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorem sequi, quo tempore in
        eum
        obcaecati atque quibusdam officiis est dolorum minima deleniti ratione molestias numquam. Voluptas voluptates
        quibusdam cum?
      </section>
      <section>
        <h2>Kabbadi</h2>
        5 ipsum dolor sit amet, consectetur adipisicing elit. Autem quas adipisci a accusantium eius ut
        voluptatibus
        ad impedit nulla, ipsa qui. Quasi temporibus eos commodi aliquid impedit amet, similique nulla.
      </section>
      <section>
        <h2>Carrom</h2>
        6 ipsum dolor sit amet, consectetur adipisicing elit. Quam nemo ducimus eius, magnam error quisquam sunt
        voluptate labore, excepturi numquam! Alias libero optio sed harum debitis! Veniam, quia in eum.
      </section>
    </div>
  </div>
  <br />
  <br />

  <div class="tabs3">

    <input type="radio" id="tab10" name="tab-control3" checked>
    <input type="radio" id="tab11" name="tab-control3">
    <input type="radio" id="tab12" name="tab-control3">
    <ul>
      <li title="Water polo">
        <label for="tab10" role="button">
          <img src="{% static './images/game_icons/cricket.png' %}" alt="Cricket" width="60px" height="60px">
          <span>Water polo</span>
        </label>
      </li>

      <li title="Swimming"><label for="tab11" role="button">
          <img src="{% static './images/game_icons/cricket.png' %}" alt="Cricket" width="60px" height="60px">
          <span>Swimming</span>
        </label>
      </li>
      <li title="Rowing"><label for="tab12" role="button">
          <img src="{% static './images/game_icons/cricket.png' %}" alt="Cricket" width="60px" height="60px">
          <span>Rowing</span>
        </label>
      </li>
    </ul>

    <div class="slider">
      <div class="indicator"></div>
    </div>
    <div class="content">
      <section>
        <h2>Water polo</h2>4 ipsum dolor sit amet, consectetur adipisicing elit. Ea dolorem sequi, quo tempore in
        eum
        obcaecati atque quibusdam officiis est dolorum minima deleniti ratione molestias numquam. Voluptas voluptates
        quibusdam cum?
      </section>
      <section>
        <h2>Swimming</h2>
        5 ipsum dolor sit amet, consectetur adipisicing elit. Autem quas adipisci a accusantium eius ut
        voluptatibus
        ad impedit nulla, ipsa qui. Quasi temporibus eos commodi aliquid impedit amet, similique nulla.
      </section>
      <section>
        <h2>Rowing</h2>
        6 ipsum dolor sit amet, consectetur adipisicing elit. Quam nemo ducimus eius, magnam error quisquam sunt
        voluptate labore, excepturi numquam! Alias libero optio sed harum debitis! Veniam, quia in eum.
      </section>
    </div>
  </div>

  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 text-center heading-section ftco-animate">
          <h2 class="mb-4"><span>Our</span> Esteemed Guests</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ftco-animate">
          <div class="carousel-testimony owl-carousel">
            <div class="item">
              <div class="speaker">
                <img src="{% static 'images/speaker-1.jpg' %}" class="img-fluid" alt="Colorlib HTML5 Template">
                <div class="text text-center py-3">
                  <h3>John Adams</h3>
                  <span class="position">Web Developer</span>

                </div>
              </div>
            </div>

            <div class="item">
              <div class="speaker">
                <img src="{% static 'images/speaker-2.jpg' %}" class="img-fluid" alt="Colorlib HTML5 Template">
                <div class="text text-center py-3">
                  <h3>Paul George</h3>
                  <span class="position">Web Developer</span>

                </div>
              </div>
            </div>

            <div class="item">
              <div class="speaker">
                <img src="{% static 'images/speaker-3.jpg' %}" class="img-fluid" alt="Colorlib HTML5 Template">
                <div class="text text-center py-3">
                  <h3>James Smith</h3>
                  <span class="position">Web Developer</span>

                </div>
              </div>
            </div>

            <div class="item">
              <div class="speaker">
                <img src="{% static 'images/speaker-4.jpg' %}" class="img-fluid" alt="Colorlib HTML5 Template">
                <div class="text text-center py-3">
                  <h3>Angelie Crawford</h3>
                  <span class="position">Web Developer</span>

                </div>
              </div>
            </div>

            <div class="item">
              <div class="speaker">
                <img src="{% static 'images/speaker-5.jpg' %}" class="img-fluid" alt="Colorlib HTML5 Template">
                <div class="text text-center py-3">
                  <h3>Jackie Spears</h3>
                  <span class="position">Entrepreneur</span>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

    <section class="ftco-counter mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 stats-block text-center py-4 bg-light mb-4">
                        <div class="text">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="flaticon-guest"></span>
                            </div>
                            <strong class="number" data-number="16">0</strong>
                            <span>Events</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 stats-block text-center py-4 bg-light mb-4">
                        <div class="text">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="flaticon-handshake"></span>
                            </div>
                            <strong class="number" data-number="1500">0</strong>
                            <strong class="number">+</strong>
                            <span>Colleges</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 stats-block text-center py-4 bg-light mb-4">
                        <div class="text">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="flaticon-chair"></span>
                            </div>
                            <strong class="number" data-number="40000">0</strong>
                            <strong class="number">+</strong>
                            <span>Participants</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 justify-content-center counter-wrap ftco-animate">
                    <div class="block-18 stats-block text-center py-4 bg-light mb-4">
                        <div class="text">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="flaticon-idea"></span>
                            </div>
                            <strong class="number" data-number="800000">0</strong>
                            <strong class="number">+</strong>
                            <span>Visitors</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 heading-section ftco-animate text-center">
                    <!-- <span class="subheading">Pricing Tables</span> -->
                    <h2 class="mb-1"><span>Sport</span>Details</h2>
                </div>
            </div>
            <div class="row">
                {% for sport in allSport %}
                <div class="col-md-4 ftco-animate">
                    <div class="highlight">
                        <div class="block-7">
                            <div class="text-center">
                                <img src="{{ sport.logo.url }}" width="132" height="130">
                                <h3 class="heading-2 my-4">{{sport.name}}</h3>

                                <ul class="pricing-text mb-5">
                                    {% for rule in sport.rules %}
                                    <li>{{rule}}</li>
                                    {% endfor %}


                                </ul>

                                
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <h2 class="mb-4"><span>Our</span> Sports Prizes</h2>
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Events</th>
                        <th scope="col">Winner's Prize</th>
                        <th scope="col">Runner Ups's Prize</th>


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Cricket (M)</th>
                        <td>30,000/-</td>
                        <td>18,000/-</td>

                    </tr>
                    <tr>
                        <th scope="row">Cricket (M)</th>
                        <td>30,000/-</td>
                        <td>18,000/-</td>

                    </tr>
                    <tr>
                        <th scope="row">Cricket (M)</th>
                        <td>30,000/-</td>
                        <td>18,000/-</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!-- Gallery -->

</section>

{% endblock %}