{% extends 'base.html' %}
{% block body_block %}
{% load static %}
    
{% include 'head_common.html' %}

{% block title %}<title>{{ sport.name }} - MIT-WPU SUMMIT 2023</title> {% endblock %}


    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
            
          <div class="col-md-12 order-md-last ftco-animate" >
            
           
              <!-- END comment-list -->
              
              <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">Register</h3>
                <form action="#" class="p-6 bg-light">
                  <h5> Player Information </h5>
                  <div class="form-group">
                    <label for="name"> Full Name *</label>
                    <input name="Fullname" type="text" class="form-control" id="name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email *</label>
                    <input name="email" type="email" class="form-control" id="email">
                  </div>
                  <div class="form-group">
                    <label for="number"> Contact Number </label>
                    <input name="contact_number" type="number" class="form-control" id="number">
                  </div>

                  <div class="form-group">
                    <label for="photo">College Id Photo</label>
                    <br>
                    
                    <input type="file" id="myFile" class="form-control" name="photo_filename">
                    <!-- <br>
                    <input type="submit"> -->
                  </div>

                  <div class="form-group">
                    <label for="number">Aadhar Card Number</label>
                    <input name="Aadhar_number" type="number" class="form-control" id="number">
                  </div>

                  <div class="form-group">
                    <label for="message">Sate</label>
                    <input name="state" type="text" class="form-control" id="website">
                  </div>

                  <h5>Other Information</h5>

                  <div class="form-group">
                    <label for="message">Sport</label>
                    <input name="sport" type="text" value="{{sport.name}}" class="form-control" id="website">
                  </div>

                  <div class="form-group">
                    <label for="message">College Name</label>
                    <input name="college_name" type="text" class="form-control" id="website">
                  </div>

                  <div class="form-group">
                    <label for="message">Pool(Engineering/open)</label>
                    <input name="Pool" type="text" class="form-control" id="website">
                  </div>

                  <div class="form-group">
                    <label for="message">If Open(Name of School)</label>
                    <input name="ifopen" type="text" class="form-control" id="website">
                  </div>

                  <div class="form-group">
                    <label for="message">Need Accomadation?(  yes/no Specifying price)</label>
                    <input name="accomadation" type="text" class="form-control" id="website">
                  </div>

                  <div class="form-group">
                    <label for="message">Sports Incharge Name</label>
                    <input name="sportsincharge_name" type="text" class="form-control" id="website">
                  </div>

                  <div class="form-group">
                    <label for="message">Sports Incharge Number</label>
                    <input name="sportsincharge_number" type="number" class="form-control" id="website">
                  </div>

                  <div class="form-group">
                    <label for="message">Sports Incharge Email id.</label>
                    <input name="sportsincharge_email" type="email" class="form-control" id="website">
                  </div>

                  <div class="form-group">
                    <input name="Aadhar_number" type="submit" value="Register" class="btn py-3 px-4 btn-primary">
                  </div>

                </form>
              </div>
            </div>

          </div> 
          

        </div>
      </div>
    </section> <!-- .section -->

		<!-- <section class="ftco-section-parallax">
      <div class="parallax-img d-flex align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
              <h2>Subcribe to our Newsletter</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
              <div class="row d-flex justify-content-center mt-4 mb-4">
                <div class="col-md-8">
                  <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                      <input type="text" class="form-control" placeholder="Enter email address">
                      <input type="submit" value="Subscribe" class="submit px-3">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
{% endblock %}