{% extends 'base.html' %}
{% block body_block %}
{% load static %}
    
{% include 'head_common.html' %}

{% block title %}<title>{{ sport.name }} - MIT-WPU SUMMIT 2023</title> {% endblock %}


    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
            
          <div class="col-md-8 order-md-last ftco-animate" >
            <div >
              <h3>
                <img width="35" src="{{ sport.logo.url }}" alt="">
                Rules
              </h3>
              <ul class="comment-list">
                {% for rule in sport.split_rules %}
                <li class="mb-0">
                  <!-- <div class="vcard bio">
                    <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder">
                  </div> -->
                  <!-- <div class="comment-body"> -->
                    <p style="color: black">• {{ rule }}</p>                    
                  <!-- </div> -->
                </li>
                {% endfor %}
               
                  </ul>
                </li>
               
              </ul>
             
              <!-- <div  class="container" >
                <div style="padding: 40px 0;" class="row d-flex">
                  <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                      <div class="icon"><span class="flaticon-placeholder"></span></div>
                      <div class="media-body">
                        <h3 class="heading mb-3">Venue</h3>
                        <p>	203 Fake St. Mountain View, San Francisco, California, USA</p>
                      </div>
                    </div>      
                  </div>
                  <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                      <div class="icon"><span class="flaticon-world"></span></div>
                      <div class="media-body">
                        <h3 class="heading mb-3">Prize</h3>
                        <p>A small river named Duden flows by their place and supplies.</p>
                      </div>
                    </div>    
                  </div>
                  <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                      <div class="icon"><span class="flaticon-hotel"></span></div>
                      <div class="media-body">
                        <h3 class="heading mb-3">Date</h3>
                        <p>A small river named Duden flows by their place and supplies.</p>
                      </div>
                    </div>      
                  </div>
                  <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                      <div class="icon"><span class="flaticon-cooking"></span></div>
                      <div class="media-body">
                        <h3 class="heading mb-3">Time</h3>
                        <p>A small river named Duden flows by their place and supplies.</p>
                      </div>
                    </div>      
                  </div>
                </div>
              </div> -->
             
            
           <!-- <h2 class="mb-3 mt-3">Disclaimer</h2>
            <p>Temporibus ad error suscipit exercitationem hic molestiae totam obcaecati rerum, eius aut, in. Exercitationem atque quidem tempora maiores ex architecto voluptatum aut officia doloremque. Error dolore voluptas, omnis molestias odio dignissimos culpa ex earum nisi consequatur quos odit quasi repellat qui officiis reiciendis incidunt hic non? Debitis commodi aut, adipisci.</p>
            -->

           
              <!-- END comment-list -->
              
             </div>
            {% if sport.name == "Chess" or "Esport" in sport.name %}
              <div class="form-group">
                <a href="{% url 'sport_register' sport.slug %}_all" class="btn py-3 px-4 btn-primary">Register</a>
              </div>
            {% else %}
              <div class="form-group">
                <a href="{% url 'sport_register' sport.slug %}_men" class="btn py-3 px-4 btn-primary">Register (Men)</a>
                &ensp;
                {% if sport.minimumPlayersFemale %}
                <a href="{% url 'sport_register' sport.slug %}_women" class="btn py-3 px-4 btn-primary">Register (Women)</a>
                {% endif %}
              </div>
            {% endif %}
          </div> <!-- .col-md-8 -->
          <div class="col-md-4 sidebar ftco-animate">
           
            <div class="sidebar-box ftco-animate">
              <div class="categories">
                <h3>Other Sports</h3>
                {% for sport in relatedSports %}
                  <li>
                    <a href="{% url 'sport_detail' sport.slug %}">
                    <img width="25" height="25" src="{{ sport.logo.url }}" alt="">
                    &nbsp;{{ sport.name }}</a>
                  </li>
                {% endfor %}
              </div>
            </div>

            <!-- <div class="sidebar-box ftco-animate">
              <h3>Recent Blog</h3>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(/static/images/image_1.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(/static/images/image_2.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(/static/images/image_3.jpg);"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> July 12, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
            </div>

           
          </div> -->

        </div>
      </div>
    </section> <!-- .section -->

		<!-- <section class="ftco-section-parallax">
      <div class="parallax-img d-flex align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
              <h2>Subcribe to our Newsletter</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
              <div class="row d-flex justify-content-center mt-4 mb-4">
                <div class="col-md-8">
                  <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                      <input type="text" class="form-control" placeholder="Enter email address">
                      <input type="submit" value="Subscribe" class="submit px-3">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
{% endblock %}