{% extends 'base.html' %}
{% block body_block %}
{% load static %}
    
{% include 'head_common.html' %}

{% block title %}<title>{{ sport.name }} - MIT-WPU SUMMIT 2023</title> {% endblock %}

<link rel="stylesheet" href="{% static 'css/step_form.css' %}">

<section class="ftco-section ftco-degree-bg">
  <div class="container">
    <div class="row">
        
      <div class="col-md-12 order-md-last ftco-animate" >
        
       
          <!-- END comment-list -->
          
          <div class="comment-form-wrap pt-5">
            <h3 class="mb-5">Register</h3>
            <!-- <form action="#" class="p-6 bg-light">
              <h5> Player Information </h5>
              <div class="form-group">
                <label for="name"> Full Name *</label>
                <input name="Fullname" type="text" class="form-control" id="name">
              </div>
              <div class="form-group">
                <label for="email">Email *</label>
                <input name="email" type="email" class="form-control" id="email">
              </div>
              <div class="form-group">
                <label for="number"> Contact Number </label>
                <input name="contact_number" type="number" class="form-control" id="number">
              </div>

              <div class="form-group">
                <label for="photo">College Id Photo</label>
                <br>
                
                <input type="file" id="myFile" class="form-control" name="photo_filename">
                <br>
                <input type="submit"> 
              </div>

              <div class="form-group">
                <label for="number">Aadhar Card Number</label>
                <input name="Aadhar_number" type="number" class="form-control" id="number">
              </div>

              <div class="form-group">
                <label for="message">Sate</label>
                <input name="state" type="text" class="form-control" id="website">
              </div>

              <h5>Other Information</h5>

              <div class="form-group">
                <label for="message">Sport</label>
                <input name="sport" type="text" value="Cricket" class="form-control" id="website">
              </div>

              <div class="form-group">
                <label for="message">College Name</label>
                <input name="college_name" type="text" class="form-control" id="website">
              </div>

              <div class="form-group">
                <label for="message">Pool(Engineering/open)</label>
                <input name="Pool" type="text" class="form-control" id="website">
              </div>

              <div class="form-group">
                <label for="message">If Open(Name of School)</label>
                <input name="ifopen" type="text" class="form-control" id="website">
              </div>

              <div class="form-group">
                <label for="message">Need Accomadation?(  yes/no Specifying price)</label>
                <input name="accomadation" type="text" class="form-control" id="website">
              </div>

              <div class="form-group">
                <label for="message">Sports Incharge Name</label>
                <input name="sportsincharge_name" type="text" class="form-control" id="website">
              </div>

              <div class="form-group">
                <label for="message">Sports Incharge Number</label>
                <input name="sportsincharge_number" type="number" class="form-control" id="website">
              </div>

              <div class="form-group">
                <label for="message">Sports Incharge Email id.</label>
                <input name="sportsincharge_email" type="email" class="form-control" id="website">
              </div>

              <div class="form-group">
                <input name="Aadhar_number" type="submit" value="Register" class="btn py-3 px-4 btn-primary">
              </div>

            </form> -->

            <div class="form-container">
              <header>Signup Form</header>
              <div class="progress-bar-form">
                  <div class="step">
                      <p>Name</p>
                      <div class="bullet">
                          <span>1</span>
                      </div>
                      <div class="check">
                        <svg class="check-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
                      </div>
                  </div>
                  <div class="step">
                      <p>Contact</p>
                      <div class="bullet">
                          <span>2</span>
                      </div>
                      <div class="check">
                        <svg class="check-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
                      </div>
                  </div>
                  <div class="step">
                      <p>Birth</p>
                      <div class="bullet">
                          <span>3</span>
                      </div>
                      <div class="check">
                        <svg class="check-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>
                      </div>
                  </div>
              </div>
              <div class="form-outer">
                  <form action="#">
                      <div class="page slide-page">
                          <div class="title">Basic Info:</div>


                          <div class="form-outline mb-4">
                            <input name="Fullname" type="text" class="form-control" id="name">
                            <label class="form-label" for="name"> Full Name *</label>
                          </div>
                          <div class="form-outline mb-4">
                            <input name="email" type="email" class="form-control" id="email">
                            <label class="form-label" for="email">Email *</label>
                          </div>
                          <div class="form-outline mb-4">
                            <input name="contact_number" type="number" class="form-control" id="number">
                            <label class="form-label" for="number"> Contact Number </label>
                          </div>
                          <div class="mb-4">
                            <label class="form-label" for="customFile">College Id Photo</label>
                            <input type="file" class="form-control" id="customFile" />
                          </div>
        
                          <div class="form-outline mb-4">
                            <input name="Aadhar_number" type="number" class="form-control">
                            <label class="form-label" for="number">Aadhar Card Number</label>
                          </div>
        
                          <div class="form-outline mb-4">
                            <input name="state" type="text" class="form-control">
                            <label class="form-label" for="message">Sate</label>
                          </div>


                          <div class="field">
                              <button class="firstNext next btn btn-primary btn-block">Next</button>
                          </div>
                      </div>
  
                      <div class="page">
                          <div class="title">Contact Info:</div>

                          <div class="form-outline mb-4">
                            <input name="sport" type="text" value="Cricket" class="form-control">
                            <label for="message" class="form-label">Sport</label>
                          </div>
        
                          <div class="form-outline mb-4">
                            <input name="college_name" type="text" class="form-control">
                            <label for="message" class="form-label">College Name</label>
                          </div>
        
                          <div class="form-outline mb-4">
                            <input name="Pool" type="text" class="form-control">
                            <label for="message" class="form-label">Pool(Engineering/open)</label>
                          </div>
        
                          <div class="form-outline mb-4">
                            <input name="ifopen" type="text" class="form-control">
                            <label for="message" class="form-label">If Open(Name of School)</label>
                          </div>
        
                          <div class="form-outline mb-4">
                            <input name="accomadation" type="text" class="form-control">
                            <label for="message" class="form-label">Need Accomadation?(  yes/no Specifying price)</label>
                          </div>
        
                          <div class="form-outline mb-4">
                            <input name="sportsincharge_name" type="text" class="form-control">
                            <label for="message" class="form-label">Sports Incharge Name</label>
                          </div>
        
                          <div class="form-outline mb-4">
                            <input name="sportsincharge_number" type="number" class="form-control">
                            <label for="message" class="form-label">Sports Incharge Number</label>
                          </div>
        
                          <div class="form-outline mb-4">
                            <input name="sportsincharge_email" type="email" class="form-control">
                            <label for="message" class="form-label">Sports Incharge Email id.</label>
                          </div>
                          
                          <div class="field btns">
                              <button class="prev-1 prev btn btn-primary btn-block">Previous</button>
                              <button class="next-1 next btn btn-primary btn-block">Next</button>
                          </div>
                      </div>
  
                      <div class="page">
                          <div class="title">Login Details:</div>
                          <div class="field">
                              <div class="label">Username</div>
                              <input type="text" required />
                          </div>
                          <div class="field">
                              <div class="label">Password</div>
                              <input type="password" required />
                          </div>
                          <div class="field btns">
                              <button class="prev-5 prev btn btn-primary btn-block">Previous</button>
                              <button class="submit btn btn-primary btn-block">Submit</button>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
          <!-- new form end -->
          </div>
        </div>

      </div> 
      

    </div>
  </div>
</section> <!-- .section -->
		<!-- <section class="ftco-section-parallax">
      <div class="parallax-img d-flex align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
              <h2>Subcribe to our Newsletter</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
              <div class="row d-flex justify-content-center mt-4 mb-4">
                <div class="col-md-8">
                  <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                      <input type="text" class="form-control" placeholder="Enter email address">
                      <input type="submit" value="Subscribe" class="submit px-3">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <script src="{% static 'js/step_form.js' %}"></script>
{% endblock %}