{% extends 'base.html' %}
{% block body_block %}
{% load static %}
{% block title %}<title>Guests - MIT-WPU SUMMIT 2023</title> {% endblock %}

{% include 'head_common.html' %}

<section class="ftco-section">
    <div class="container">
        <!-- {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %} -->
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                
            </div>
            {% endfor %}
        {% endif %}

        <h1>{{ team.name }}</h1>

        <div class="row" style="justify-content: center;">
            <form method="post" class="bg-light p-5 contact-form">
                {% csrf_token %}

                {% for i in sport.minimumPlayers %}
                 
                  <div class="label" style="text-align: start;">Player {{i}} details *</div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input id="name-{{i}}" placeholder="Full Name" required name="player_names" type="text"
                          class="form-control form-control-lg"/>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input id="email-{{i}}" placeholder="Email" required name="player_emails" type="email"
                          class="form-control form-control-lg">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input id="phone-{{i}}" placeholder="Phone Number" required name="player_phones" type="number"
                          class="form-control form-control-lg">
                      </div>
                    </div>
                  </div>
                                    {% endfor %}
                  {% for i in sport.maximumPlayers %}
                  <div class="label" style="text-align: start;">Player {{i}} details </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input id="name-{{i}}" placeholder="Full Name" name="player_names" type="text"
                          class="form-control form-control-lg"/>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input id="email-{{i}}" placeholder="Email" name="player_emails" type="email"
                          class="form-control form-control-lg">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group">
                        <input id="phone-{{i}}" placeholder="Phone Number" name="player_phones" type="number"
                          class="form-control form-control-lg">
                      </div>
                    </div>
                  </div>
                  {% endfor %}

                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary py-3 px-5">
                </div>
            </form>
        </div>
</div>

</section>

<script>

  // Logic to prefill values from context

  var names = {{ names|safe }};
  var emails = {{ emails|safe }};
  var phones = {{ phones|safe }};
  var i = 0;
  while(i<names.length){
    $(`#name-${i+1}`).val(names[i]);
    $(`#email-${i+1}`).val(emails[i]);
    $(`#phone-${i+1}`).val(phones[i]);
    i++;
  }

</script>

{% endblock %}use jinja in n